*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16192c;
}

.header {
  background-color: #1E2A4A;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
.logo {
  color: #EC5990;
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.navigate-bars {
  text-decoration: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  transition: color 0.2s ease-out;
  padding-left: 15px; 
  padding-right: 15px;
  font-weight: 300;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  
}

.board {
  min-width: 450px;
  min-height: 800px;
  border: 5px solid rgb(250, 210, 255);
  padding: 20px 10px;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board_title {
  font-size: 36px;
  background-color: rgb(255, 37, 128);
  color: whitesmoke;
  margin: 0.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.item {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 75px;
  border: 3px solid rgb(66, 66, 66);
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  cursor: grab;
  background-color: rgb(255, 224, 255);
}